
// ----- universal body styles
body {
  width: 100%;
  position: relative;
  background: $bc;
  @include bodyFont;
}

@for $i from 1 through 4 {
  @include headFont;
  h#{$i}, .h#{$i} {
    @if $i == 1 {
      font-size:2.5em;
      line-height: 40px;
      font-weight: 600;
      + h2 {
        margin-top: -8px;
      }
    }
    @if $i == 2 {
      font-size: 1.8em;
      font-weight: 600;
      color: lighten($p3c, 30%);

      + h3 {
        margin-top: -8px;
      }
    }
    @if $i == 3 {
      color: lighten($p3c, 10%);
      font-size: 1.5em;
      font-weight: 300;
    }
  }
}

.sec {
  width: 100%;
  min-width: $wrapper;
  position: relative;
  &.head {
    color: $p2c;
    background: $s1c;
  }
  &.nav {
    background: $s2c;
    color: $p1c;
  }
  &.b1 {
    color: $p3c;
    background: $s1c;
  }
  &.b2 {
    background: $s1c;
    color: $p3c;
  }
  &.b3 {
    background: $s2c;
    color: $p1c;
  }
  &.foot {
    background: $s3c;
    color: $p1c;
  }
}

.wrap {
  width: $wrapper;
  max-width: $max-width;
  position: relative;
  @include centerBlock;
  @include clearFix();
}

.nopad-a {
  padding: 0;
}
.nopad-t {
  padding-top: 0;
}
.nopad-l {
  padding-left: 0;
}
.nopad-r {
  padding-right: 0;
}
.nopad-b {
  padding-bottom: 0;
}

@each $id in $bp-id {
  @include bp(#{$id}) {
    .nopad-a-#{id} {
      padding: 0;
    }
    .nopad-t-#{id} {
      padding-top: 0;
    }
    .nopad-l-#{id} {
      padding-left: 0;
    }
    .nopad-r-#{id} {
      padding-right: 0;
    }
    .nopad-b-#{id} {
      padding-bottom: 0;
    }
  }
}
