
//--------------------------------------------------------------------//

//- mixins for gradient, gradient reverse and 3D buttons -//

//--------------------------------------------------------------------//
@mixin button-base($pad, $color){
	position: relative;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-transform: capitalize;
	text-decoration: none;
	@include display(inline-block);
	@include transition(all, .4s);
	a {
		@include flat-text($color);
		@include display(inline-block);
		@include transition();
		padding: (.5em * $pad) (2.5em * $pad) (.55em * $pad);
		font-weight: 300;
	}
}

//--------------------------------------------------------------------//

@mixin gradient-button($color, $radius, $pad, $hover:true) {
	@include button-base($pad, $color);
	@include border-radius($radius);
	@include gradient-box-shadow($color);
	@include gradient($color);
	@include user-select;
	@include text-shadow($color);
	@if $hover {
		&:hover {
			@include gradient-hover($color);
		}
		&:active {
			@include gradient-active($color);
			top: 1px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin gradient-reverse-button($color, $radius, $pad, $hover:true) {
	@include button-base($pad, $color);
	@include border-radius($radius);
	@include gradient-box-shadow($color);
	@include gradient($color);
	@include user-select;
	@include text-shadow($color);
	@if $hover {
		&:hover {
			@include gradient-hover($color);
		}
		&:active {
			@include gradient-active($color);
			top: 1px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin gradient3d-button($color, $radius, $pad, $hover:true, $shade: true) {
	@include button-base($pad, $color);
	@include gradient($color);
	@include border-radius($radius);
	@include gradient-box-shadow($color);
	@if $shade {
		box-shadow: inset 0px 0px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%), 0px 8px 4px darken($color, 30%);
    } @else {
		box-shadow: inset 0px 1px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%);
    }
    @include user-select;
	@include text-shadow($color);
	@if $hover {
		&:hover {
			@include gradient-hover($color);
		}
		&:active {
			@if $shade {
				box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%), 0px 4px 2px darken($color, 20%);
		    } @else {
			  	box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%);
		    }
			@include gradient-active($color);
			top: 3px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin gradient3d-reverse-button($color, $radius, $pad, $hover:true, $shade: true) {
	@include button-base($pad, $color);
	@include gradient($color);
	@include border-radius($radius);
	@include gradient-box-shadow($color);
	@if $shade {
		box-shadow: inset 0px 0px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%), 0px 8px 4px darken($color, 30%);
    } @else {
		box-shadow: inset 0px 1px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%);
    }
    @include user-select;
	@include text-shadow($color);
	@if $hover {
		&:hover {
			@include gradient-hover($color);
		}
		&:active {
			@if $shade {
				box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%), 0px 4px 2px darken($color, 20%);
		    } @else {
			  	box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%);
		    }
			@include gradient-active($color);
			top: 3px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin gradient-half-button($color, $radius, $pad, $hover:true) {
	box-shadow: inset 0px 1px 0px lighten($color, 20%), inset 0px -1px 0px darken($color, 5%) ;
	background-color: ($color);
	@include button-base($pad, $color);
	@include gradient-half($color);
	@include border-radius($radius);
	@include user-select;
	@include text-shadow($color);
	@if $hover {
		&:hover {
			@include gradient-half-hover($color);
			background-color: lighten($color, 10%);
		}
		&:active {
			top: 1px;
		}
	}
}

//--------------------------------------------------------------------//

// --------- mixins for flat and flat 3d buttons ---------//

//--------------------------------------------------------------------//

@mixin flat-button($color, $radius, $pad, $hover:true) {
	background-color: ($color);
	@include button-base($pad, $color);
	@include border-radius($radius);
	@include user-select;
	@include flat-text($color);
	@if $hover {
		&:hover {
			background-color: lighten($color, 10%);
		}
		&:active {
			top: 1px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin flat-half-button($color, $radius, $pad, $hover:true) {
	background-color: ($color);
	@include button-base($pad, $color);
	@include border-radius($radius);
	@include user-select;
	@include flat-text($color);
	@if $hover {
		&:hover {
		@include flat-half-hover($color);
		background-color: lighten($color, 10%);
		}
		&:active {
			top: 1px;
		}
	}
}

//--------------------------------------------------------------------//

@mixin flat3d-button($color, $radius, $pad, $hover:true, $shade: true) {
	background-color: ($color);
    border-radius: ($radius);
	@include button-base($pad, $color);
    @include user-select;
    @if $shade {
		box-shadow: inset 0px 1px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%), 0px 8px 4px darken($color, 30%);
    } @else {
		box-shadow: inset 0px 1px 0px darken($color, 10%), 0px 5px 0px 0px darken($color, 15%);
    }
	@include flat-text($color);
	@if $hover {
		&:hover {
			background-color: lighten($color, 2%);
		}
		&:active {
		    top:3px;
		    @if $shade {
				box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%), 0px 4px 2px darken($color, 20%);
		    } @else {
			  	box-shadow: inset 0px 1px 0px darken($color, 5%), 0px 2px 0px 0px darken($color, 10%);
		    }
		}
	}
}

//--------------------------------------------------------------------//

@mixin flat-outline-button($color, $radius, $pad, $stroke:true , $hover:true) {
	a {
		@if $stroke {
			border: $stroke solid $color;
		}
		background: none;
		color: $color;
		@include border-radius($radius);
		@if $hover {
			&:hover {
				background: rgba($color, 1);
				@if lightness($color) > 80% {
				    color: darken($color, lightness($color) / 1.5);
			    } @else {
				    color: #fff;
			    }
			}
			&:active {
				top: 1px;
			}
		}
	}
	@include button-base($pad, $color);
	@include user-select;
}

//--------------------------------------------------------------------//

@mixin flat-outline-rev-button($color, $radius, $pad, $stroke:true , $hover:true) {
	@include button-base($pad, $color);
	@include user-select;
	a {
		@include border-radius($radius);
		background: $color;
		@if $stroke {
			border: $stroke solid $color;
		}
		@if $hover {
			&:hover {
				background: #fff;
				color: $color;
			}
			&:active {
				top: 1px;
			}
		}
	}
}


//--------------------------------------------------------------------//

// ----------- mixins for glossy type buttons ------------//

//--------------------------------------------------------------------//

@mixin gloss-half-button($color, $radius, $pad, $hover:true) {
	box-shadow: inset 0px 1px 0px lighten($color, 20%), inset 0px -1px 0px darken($color, 5%) ;
	background-color: $color;
	@include button-base($pad, $color);
	@include gloss-half($color);
	@include border-radius($radius);
	@include user-select;
	@if $hover {
		&:hover {
			@include gloss-half-hover($color);
		}
		&:active {
			top: 1px;
		}
	}
}
