
//--------------------------------------------------------------------//
// -- global mixins
//--------------------------------------------------------------------//

// stops text select on button
@mixin user-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

// controls text color on background change
@mixin flat-text($color){
	@if lightness($color) > 60% {
	    color: lighten(#333, lightness($color) / 5);
    } @else {
	    color: #fff;
    }
}

// --- gradient button mixin base settings
@mixin gradient-box-shadow ($shadow){
	@if lightness($shadow) > 60% {
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
    } @if lightness($shadow) >= 90% {
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
    } @else {
		-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
		box-shadow: 0 1px 2px rgba(0,0,0,.2);
    }
}

// controls text color and shadow on background change
@mixin text-shadow($color){
	@if lightness($color) > 60% {
    color: lighten(#333, lightness($color) / 5);
    } @if lightness($color) >= 90% {
      text-shadow: #fff 0 1px 0;
    } @else {
      text-shadow: rgba(#000, .2 + lightness($color) * .2 / 100) 0 1px 0;
    } @else {
    color: #fff;
    text-shadow: rgba(0, 0, 0, .4) 0 1px 1px;
    }
}

//--------------------------------------------------------------------//
// -- base gradient mixins
//--------------------------------------------------------------------//

@mixin gradient-base($top, $bottom) {
	background-color: $bottom;
	background: -webkit-gradient(linear, left top, left bottom, from($top), to($bottom));
	background: -moz-linear-gradient(top, $top,  $bottom);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}');
}

// sets gradient background
@mixin gradient($background) {
	@include gradient-base(lighten($background, 25%), darken($background, 0%));
	border: solid 1px darken($background, 5%);
	@include flat-text($background);
}

// sets gradient background on hover
@mixin gradient-hover($background) {
	@include gradient-base(lighten($background, 20%), darken($background, 0%));
	@include flat-text($background);
}

//sets gradient background when active
@mixin gradient-active($background) {
	@include gradient-base($background, lighten($background, 10%));
	@include flat-text($background);
}

//--------------------------------------------------------------------//
// -- base gradient reverse mixins
//--------------------------------------------------------------------//

@mixin gradient-base-reverse($top, $bottom) {
	background-color: $bottom;
	background: -webkit-gradient(linear, left top, left bottom, from($bottom), to($top));
	background: -moz-linear-gradient(top, $bottom,  $top);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$bottom}', endColorstr='#{$top}');
}

//--------------------------------------------------------------------//
// -- gradient half base
//--------------------------------------------------------------------//

@mixin gradient-half-base($top, $top2, $bottom, $bottom2) {
	background-image: $bottom;
	background-image: gradient(linear, left top, left bottom, color-stop(0% $top), color-stop(50%,$top2), color-stop(51%, $bottom), color-stop(100%, $bottom2));
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(50%,$top2), color-stop(51%, $bottom), color-stop(100%, $bottom2));
	background-image: -moz-linear-gradient(top, $bottom 0%, $bottom2 50%, $top 51%, $top2 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}',GradientType=0);
}

// sets gradient half background
@mixin gradient-half($background) {
	@include gradient-half-base(lighten($background, 15%), lighten($background, 0%), darken($background, 5%) , darken($background, 20%));
	border: solid 1px lighten($background, 1%);
	@include flat-text($background);
}

// sets gradient half hover state
@mixin gradient-half-hover($background) {
	@include gradient-half-base(lighten($background, 15%), darken($background, 2%), darken($background, 5%) , darken($background, 15%));
	border: solid 1px lighten($background, 1%);
	@include flat-text($background);
}

// sets gloss half background - ** runs off gradient half base
@mixin gloss-half($background) {
	@include gradient-half-base(lighten($background, 10%), darken($background, 15%), darken($background,15%) , lighten($background, 10%));
	border: solid 1px lighten($background, 1%);
	@include flat-text($background);
	background-size: 100% 100%;
	background-position: 100%;
}

// sets gloss half hover state
@mixin gloss-half-hover($background) {
	background-size: 100% 200%;
	background-position: 100% 50%;
}

//--------------------------------------------------------------------//
// -- flat button mixin base settings
//--------------------------------------------------------------------//

// flat half base
@mixin flat-half-base($top, $bottom) {
	background: $bottom;
	background: gradient(linear, left top, left bottom, color-stop(0% $top), color-stop(50%,$top), color-stop(51%, $bottom), color-stop(100%, $bottom));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $top), color-stop(50%,$top), color-stop(51%, $bottom), color-stop(100%, $bottom));
	background: -moz-linear-gradient(top, $bottom 0%, $bottom 50%, $top 51%, $top 100%);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$top}', endColorstr='#{$bottom}',GradientType=0);
}

// sets flat half background
@mixin flat-half($background) {
	@include flat-half-base(lighten($background, 0%), darken($background, 10%));
	border: solid 1px lighten($background, 1%);
	@include flat-text($background);
}

// sets flat half hover state
@mixin flat-half-hover($background) {
	@include flat-half-base(lighten($background, 0%), darken($background, 5%));
	border: solid 1px lighten($background, 1%);
	@include flat-text($background);
}
