
/*----- Contact -----*/
.wpcf7-submit {
	@include button(
		flatStroke, 	// button type
		#5fb3ce, 	// background/text color
		25px, 			// border-radius
		.8, 			// padding
		2px, 			// stroke:false
		true,			// hover:true
		true			// shade:true
	);
	color: $p1c;
}

.wpcf7-radio {
	display: block;
	margin: 20px 0;
	text-align: center;
	>span {
		display: inline-block;
		margin: 0 5%;
	}
}


input, textarea {
	border: 1px solid #ddd;
	font-size: 16px;
	font-weight: lighter;
	width: 100%;
	border-radius: 5px;
	min-height: 30px;
	margin-bottom: 5px;
}

//-- News post styling
.posts {
	.col-1 {
		padding: 30px 0;
	}
	h2 a {
	  color: $p3c;
	  &:visited {
		  color: $p3c;
	  }
	  &:active {
		  color: $p3c;
	  }
	}
}

.post-thumb-cpt {
	img {
		display: block;
		height: 100%;
		width: 100%;
		margin: 0 auto;
	}
}

.sidebar {
	background: lighten($s4c, 15%);
	display: block;
	width: 100%;
	margin-bottom: 3%;
	.sidebar-header {
		background: $s3c;
		display: block;
		padding: 3%;
		padding-left: 5%;
		&.services {
			background: #e65700;
		}
		&.news {
			background: #0062e6;
		}
		&.quick-con {
			background: #5db70e;
		}
		h2 {
			color: #fff;
			margin: 0;
			span {
				@include headFont;
			}
		}
	}
	.post-type-project {
		padding: 7% 5% 5%;
		&:nth-child(2n+1) {
			background: lighten($s4c, 10%);
		}
		@include bp(large) {
			padding: 2%;
		}
	}
	.post-thumb-cpt {
		overflow: hidden;
		img {
			width: 100%;

		}
	}
	h3 {
		font-size: 1em;
		line-height: 1em;
		margin: 0;
	}
	.wp-excerpt {
		font-size: 0.8em;
		line-height: 1.2em;
		margin: 3px 0;
		a {
			display: block;
		}
	}
	.project-link {
		display: block;
		position: relative;
		font-size: 0.8em;
		color: #5fb3ce;
	}
	.col1-3{
		@include bp(large) {
			width: (33% - $colPad * 2);
			padding-left: $colPad;
			padding-right: $colPad;
		}
	}
	.col2-3 {
		@include bp(large) {
			width: (66% - $colPad * 2);
			padding-left: $colPad;
			padding-right: $colPad;
		}
	}

	.more-posts {
		text-align: center;
		a {
			display: block;
			background: #5fb3ce;
			padding: 2% 0;
			height: 100%;
			width: 100%;
			color: #fff;
			font-weight: bold;
			font-size: 16px;
		}
	}
	ul {
		padding: 3%;
		padding-left: 5%;
		li {
			list-style: square;
			list-style-position: inside;
			a {
				color: $p3c;
			}
		}
	}
}

.cpt-list, .footer-nav {
	#nav {
		display: block;
		margin: -5px 0 20px 0;
		li {
			display: block;
			width: 100%;

			a {
				padding-left: 0;
				color: #fff;
				display: block;
				padding: 3px 0 20px;
				text-align: left;
			}
		}
	}
	li {
		list-style: square;
		list-style-position: inside;
		a {
			color: #fff;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.wp-excerpt {
  display: block;
  position: relative;
  color: $p3c;
  margin-top: 10px;
}

.wp-excerpt a {
  color: $p3c;
}

.meta {
  position: relative;
  margin-top: -10px;
  display: block;
  color: lighten($p3c, 60%);
}

.meta li {
	position: relative;
	@include display(inline-block);
	padding: 0 5px 0 0;
	z-index: 999;
	margin: 0 2px;
	&:first-child {
		margin-left: 0;
	}
}

.post-comments {
  background: #F7F7F7;
  color: #0b0673;
  display: block;
  padding: 6px 12px 5px;
  height: 18px;
  margin-left: 10px;
}

.post-thumb {
 float:none;
  display: inline-block;
  zoom: 1;
  *display: inline;
  margin-right: -4px;
  vertical-align: top;
}

.post-thumb-article {
  float: left;
  padding: 0px 20px 5px 0;
}

.post-thumb-article img {
  width: 300px;
  height: auto;
}

.crop {
  overflow:hidden;
  width:200px;
  height:100%;
  display:block;

}
.post-thumb img {
  z-index: 99;
  height: 200px;
  min-width: 100%;
  width: auto;
}

//-- project post type

.post-type-project {
	padding: 30px 0;
	ul {
		padding: 10px 0;
		li {
			padding-left: 30px;
			background: url("#{$dir}icons/tick.png") no-repeat 0px 1px;
		}
	}
}

.post-type-project {
	.post-thumb-project {
		@include display(inline-block);
		position: relative;
		margin: 0;
		padding: 0;
	}
}

/*----- Comments -----*/
#comments {
	position:relative;
	display:block;
	clear:both;
}

.comments-title {
	display:none;
}

.comment-body {
	background-color:#fff;
	border-radius:4px;
	margin:20px 0;
	padding:10px;
}

.children {
	margin-left:40px;
	margin-top:-10px;
}

.comment-list {
	margin-top:0px;
	color:#2c3e50;
	border-radius:4px;
	padding:20px;

}

.comment-list a,
.comment-list a:visited,
.comment-respond a,
.comment-respond a:visited {
	color:#1abc9c;
}

.comment-respond {
	width:100%;
	margin-top:20px;
	color:#2c3e50;
}

#respond textarea {
	width:100%;
	padding:0;
	margin:0;
}


.form-submit {
	#submit{
		width: 100%;
		@include border-radius(25px);
		padding: 0.6em;
		color: #fff;
		background: $s2c;
		border: 3px solid $s2c;
		cursor: pointer;
		@include transition();
		&:hover {
			background: transparent;
			color: $s2c;
		}
	}
}

.form-allowed-tags {
	font-size:12px;
	line-height:15px;
	margin-bottom: 6px;
}
